<h1><%= @item.titleize %>'s Photographs</h1>

<br/><br/>

<div class="well">
    <h4>Profile Information:</h4>
    Name: <%= @whatevs.first_name %> <%= @whatevs.last_name %><br/>
    Email Address: <%= @whatevs.email %><br/>
    Zipcode: <%= @whatevs.zipcode %><br/><br/>
    <% if photographer_signed_in? %>
        <% if current_photographer.id == @whatevs.id %>
            <%= link_to "Add Photo", new_photograph_path, class: "btn btn-default" %>
            <%= link_to "Edit Profile Info", edit_photographer_registration_path, class: "btn btn-default" %>
        <% end %>
    <% end %>
</div>


<br/><br/><br/>

<div id="photographs" class="transitions-enabled">
    <% @yup.each do |photos| %>
        <div class="box">
        <div class="panel panel-default">
            <%= link_to image_tag(photos.image.url(:medium)), photos %><br/>
                <div class="panel-footer"> 
                    Category: <%= photos.category %>
                </div>
             </div>
        </div>
    <% end %>
</div>


<br/><br/>
<div class="center">
    <%= will_paginate @yup, renderer: BootstrapPagination::Rails %>
</div>
<br/><br/>