
<h1>Listing Photographs</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photographs.each do |photograph| %>
      <tr>
        <td><%= photograph.category %></td>
        <td><%= link_to 'Show', photograph %></td>
        <td><%= link_to 'Edit', edit_photograph_path(photograph) %></td>
        <td><%= link_to 'Destroy', photograph, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photograph', new_photograph_path %>
