<!DOCTYPE html>
<html>
<head>
  <title>Shutterly.io | Find An Awesome Photographer Near You...</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= render "home/nav" %>

<div class="container">
  <%= render "home/flash_alerts" %>
  <%= yield %>
</div>


<p class="text-center">Copyright &copy; <%= Date.today.year %> <a href="http://Shutterly.io">Shutterly.io</a>
<br/><br/>
</body>
</html>
